---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API_KEY>&query=rogue%20one
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1494165920'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"poster_path":"\/qjiskwlV1qQzRCjpV0cL9pEMF9a.jpg","adult":false,"overview":"A
        rogue band of resistance fighters unite for a mission to steal the Death Star
        plans and bring a new hope to the galaxy.","release_date":"2016-12-14","genre_ids":[28,878],"id":330459,"original_title":"Rogue
        One: A Star Wars Story","original_language":"en","title":"Rogue One: A Star
        Wars Story","backdrop_path":"\/tZjVVIYXACV4IIIhXeIM59ytqwS.jpg","popularity":27.673177,"vote_count":3527,"video":false,"vote_average":7.3},{"poster_path":"\/h72WA6zvYgselKzddUQFIFqRmEK.jpg","adult":false,"overview":"A
        fan edit by Dustin Lee of Rogue One: A Star Wars Story- a 50-minute long edit
        of the film that focuses solely on the final battle on the planet Scarif.
        Enhancements include cutting and trimming dialogue and scenes, adding original
        Star Wars sound effects, and replacing the score with the original Star Wars
        score by John Williams.","release_date":"2017-05-04","genre_ids":[],[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/330459?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"fdfa24945721d03c60ff81f3447596d5"
      X-Memc:
      - HIT
      X-Memc-Age:
      - '16281'
      X-Memc-Expires:
      - '12519'
      X-Memc-Key:
      - f84e0360330f8db39cf4534328a98eb3
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '38'
      X-Ratelimit-Reset:
      - '1494165920'
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/tZjVVIYXACV4IIIhXeIM59ytqwS.jpg","belongs_to_collection":{"id":10,"name":"Star
        Wars Collection","poster_path":"/ghd5zOQnDaDW1mxO7R5fXXpZMu.jpg","backdrop_path":"/d8duYyyC9J5T825Hg7grmaabfxQ.jpg"},"budget":200000000,"genres":[{"id":28,"name":"Action"},{"id":878,"name":"Science
        Fiction"}],"homepage":"http://www.starwars.com/films/rogue-one","id":330459,"imdb_id":"tt3748528","original_language":"en","original_title":"Rogue
        One: A Star Wars Story","overview":"A rogue band of resistance fighters unite
        for a mission to steal the Death Star plans and bring a new hope to the galaxy.","popularity":26.673177,"poster_path":"/qjiskwlV1qQzRCjpV0cL9pEMF9a.jpg","production_companies":[{"name":"Lucasfilm","id":1},{"name":"Walt
        Disney Studios Motion Pictures","id":3036},{"name":"Allison Shearmur Productions","id":47706},{"name":"Black
        Hangar Studios","id":68738}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2016-12-14","revenue":1053929274,"runtime":133,"spoken_languages":[{"iso_639_1":"en","name":"English"}],"status":"Released","tagline":"A
        Rebellion Built on Hope","title":"Rogue One: A Star Wars Story","video":false,"vote_average":7.3,"vote_count":3540}'
  recorded_at: Sun, 07 May 2017 14:05:11 GMT
[...]
