.search {
  padding-bottom: $line-height-computed;
}

.search-results {
  .movie {
    .movie-title {
      display: inline-block;
    }
  }
}

.now-playing, .similar {
  .thumbnail {
    text-align: center;
  }

  .caption {
    h3 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.movie {
  .movie-image {
    margin-left: auto;
    margin-right: auto;
  }
}
